/* Secondary Color #f27f22 */


body {
	font-family: 'Titillium Web', sans-serif;
}



#url-input-group {
	margin-top: 80px;
}



#preview-button {
	float: right;
}


#preview {
	display: none;
}

#title {
	width: 100%;
	margin-top: 20px;
	text-align: center;
	font-size: 1.375em;
	font-weight: 600;
}

#extract {
	width:100%;
	margin-top: 10px;
	font-size: 1em;
}

#thumbnail {
	width:100%;
	margin-top: 10px;
}


#location-input {
	display:none;
	margin-top: 20px;
}


#interest-input {
	display: none;
	margin-top: 20px;
}

#upload-button {
	display: none;
	float: right;
}